#step-fourth {
  background: url("../assets/images/validate-data-background.jpg") center center;
  background-size: cover;
  height: auto;
  position: relative;
  overflow-y: auto;
  .container-fluid:before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(#fff, .9);
  }
  @include media-breakpoint-down(md) {
    overflow-y: auto;
  }
  .form-validate .submit {
    height: 10px;
    text-align: center;
    .btn-submit{
      margin-top: 0px;
      width: 25%;
    }
    @include media-breakpoint-down(xs) {
      height: 28px;
    }
  }
  .info-step-fourth{
    font-size: 0.7rem;
  }
}
