<header class="w-100 bg-white">
    <div class="container">
        <div class="row">
            <div class="logo col-10 col-md-8" (click)="goHome()">
                <img src="../assets/images/logo-mapfre.svg"/>
                <h1>Seguro de Salud</h1>
            </div>
            <div class="ctaWhatsapp col-2 col-md-4 d-flex flex-row-reverse">
                <a href="https://api.whatsapp.com/send/?phone=51999919133" target="_blank"><span>Cotiza tu seguro</span><img src="../assets/images/i-whatsapp.svg"/></a>
            </div>
        </div>
    </div>
</header>