$palette-mapfre-primary: (
  50: #f3f6e6,
  100: #e0e9bf,
  200: #ccda95,
  300: #b8cb6b,
  400: #a8c04b,
  500: #99b52b,
  600: #91ae26,
  700: #86a520,
  800: #7c9d1a,
  900: #6b8d10,
  A100: #ebffbf,
  A200: #dcff8c,
  A400: #ccff59,
  A700: #c5ff40,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$palette-mapfre-secondary: (
  50: #f3f6e6,
  100: #e0e9bf,
  200: #ccda95,
  300: #b8cb6b,
  400: #a8c04b,
  500: #99b52b,
  600: #91ae26,
  700: #86a520,
  800: #7c9d1a,
  900: #6b8d10,
  A100: #ebffbf,
  A200: #dcff8c,
  A400: #ccff59,
  A700: #c5ff40,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
